body {
	background-color: #111111;
	margin: 0;
}

html {
	font-size: 62.5%;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-div {
	margin-bottom: 20px;
}

input[type="file"] {
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: 2px solid rgb(69, 68, 68);
	transition: all 0.2s ease-in-out;
	background-color: rgb(78, 187, 224);
}

input[type="file"] {
	cursor: pointer;
	border-color: rgb(151, 0, 0);
}

input[type="file"]:hover {
	cursor: pointer;
	border-color: rgb(151, 0, 0);
}

button[type="submit"] {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 0.6em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#homeButton[type="submit"]:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.image-preview img {
	max-width: 200px;
	max-height: 200px;
}

.image-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

button[type="submit"]:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

.text-block {
	font-size: 1rem;
}
